/* === Import font === */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* root variables */
:root {
    --bg: #1b1f24;
    --text-color: #ffffff;
    --primary: #ffffff;
    --yellow: #FFC800;
    --yellow-light:#ffe48110;
    --text-black: #363638;

    --opensans: "Open Sans", sans-serif;
}

/* === General styles === */
html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg);
    color: var(--text-color);
    font-family: var(--opensans);
    margin: 0;
    background-size: 100%;
    background-repeat: none;
    z-index: 2;
    overflow-x: hidden;
    cursor: none !important;
}

.shape-one{
    content:'';
    position: absolute;
    top: -5rem;
    left: -5rem;
    height: 200px;
    width: 200px;
    z-index: -99;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 99rem;
    filter: blur(10rem);
    overflow: hidden;
}

span.accent{
    color: var(--yellow);
    font-weight: 500;
}

/* === Navbar === */
.navbar {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    background-color: rgba(27, 31, 36, .8);
    backdrop-filter: blur(4px);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
                100%, 0.075),
                /* Shadow ring*/
                0 0 0 1px hsla(0, 0%, 0%, 0.05),
                /* Multiple soft shadow */
                0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
                0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
                0 3.5px 6px hsla(0, 0%, 0%, 0.09);
    border-radius: 8px;
    padding: 0px 0;
    z-index: 99;
}

.navbar ul{
    display: flex;
    padding: 0;
    margin: 8px;
    gap: 8px;
}

.navbar li, a{
    display: inline-block;
    transition-duration: 0.3s;
    font-weight: 400;
    cursor: pointer;
}

.navbar li a{
    color: var(--text-black);
    text-decoration: none;
    font-size: .8rem;
    padding: 8px 16px;
    border-radius: 6px;;
    color: white;
}

.navbar li a.active{
    background-color: rgba(255, 255, 255, .1);
    color: white;
}

.navbar li a:hover{
    background-color: rgba(255, 255, 255, .4);
    transition-duration: 0.3s;
    color: var(--text-color);
}

/* Button */
.btn-primary{
    text-decoration: none;
    --buttonradius: 4px;
    padding: 10px 20px;
    border-radius: var(--buttonradius);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -.5px;
    color: var(--text-black);
    background-color: var(--yellow);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}

.btn-primary::before{
    content: '';
    background-color: rgba(78, 56, 0, 0.2);
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 99rem;
    transition-duration: .3s;
    opacity: 0;
}

.btn-primary:hover::before{
    width: 120%;
    height: 120%;
    top: -10%;
    left: -10%;
    opacity: .8;
}

.btn-primary:hover{
    scale: 1.05;
    transition-duration: .3s;
    background-color: var(--yellow);
    color: var(--text-black);
}

.icon-newtab::after {
    content:'\f08e';
    font-size: 14px;
    font-family: 'Font Awesome 6 Free';
    margin-left: 10px;
}

/* === Sections config === */
section{
    height: 100vh;
    padding: 120px 0;
    align-content: center;
}

/* === Hero === */
.hero .about{
    padding: 2rem 0;
    align-content: center;
}

.about > .btn-primary {
    margin-top: 20px;
}

.about h1, h3, p{
    margin: 0;
}

.about h1{
    letter-spacing: -0.2rem;
    color: #eeeeee;
    font-size: 3.5rem;
    font-weight: 200;
}

.about p{
    font-size: 1rem;
    font-weight: 400;
    color: #727178;
}

.about span.thick{
    font-weight: 700;
}

/* === Works === */
.hero-card {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.hero-card img{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: rgba(255, 200, 0, 0.2) 0px 0px 3px 0px, rgba(0, 0, 0, 0.3) 0px 10px 10px 1px;
}

/* 3D hover effect */
.work-card {
    position: relative;
    border-radius: 20px;
    margin-bottom: -10px;
    height: fit-content;
    padding:0;
}

.work-card img{
    width: 90%;
    position: relative;
    border-radius: 20px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.work-card img.on-hover{
    position: absolute;
    z-index:2;
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.card-tag{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
    color: var(--text-black)
}

.card-tag{
    position: relative;
    bottom: 50px;
    z-index: -2;
}

.card-title{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto;
    margin-bottom: 0;
    width: fit-content;
    text-align: center;
    z-index: 3;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 8px 16px;
    color: var(--text-color);
    background-color: rgba(27, 31, 36, .8);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,  
                100%, 0.075),
                /* Shadow ring*/
                0 0 0 1px hsla(0, 0%, 0%, 0.05);
    border-radius: 8px;
    opacity: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.work-card:hover img{
    filter: drop-shadow(0px 0px 30px rgba(0,0,0, 0.6));
    /* scale: 1.05; */
    transform: translate(0, -40px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;

}

.work-card:hover img.on-hover{
    opacity: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.work-card:hover .card-tag{
    bottom: 0;
}

.work-card:hover .card-title{
    top: 0;
    opacity: 1;
}

.work-card a.tag{
    text-decoration: none;
    color: var(--text-black);
}

.work-card a.tag{
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 16px;
}

/* Section header */
.section-header{
    margin-bottom: 100px;
}

.section-header h1{
    margin: 0;
    font-size: 2.5rem;
    font-weight: 800;
    width: fit-content;
}

.section-header h1.top{
    color: var(--text-color);
    z-index: 2;
    position: absolute;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.50);
}

.section-header h1.bottom{
    color: var(--bg);
    text-shadow: -1px -1px 0 var(--yellow),
                1px -1px 0 var(--yellow),
                -1px 1px 0 var(--yellow),
                1px 1px 0 var(--yellow);
    filter: blur(2px);
    z-index: 1;
    padding-left: 8px;
    padding-top: 8px;
}

.cursor-dot,
.cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out;
    z-index: 100;
}



.cursor {
    position: fixed;
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    transition: width 0.3s, height 0.3s;
    pointer-events: none;
    z-index: 100;
}

.hover-cursor {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.5s height 0.5s;
}